body{
  padding-top: 51px;
  padding-bottom: 65px;
}
html,body{
  height: 100%;
}
#app, #stage{
  width:100%;
  height:100%;
}

html,
body {
  height: 100%;
}

#footer{
  height: 65px !important;
}

#bottomNav {
  padding:10px;
}
#bottomNav a {
  font-size:24pt;
  color:#ddd;
  text-decoration:none;
}
#bottomNav a:hover {
  color:#fff;
}

#logo{
  margin-top: -15px !important;
  height: 50px !important;
}

.navbar{
  background-color: #f4f4f4 !important;
}

.range-time{
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 500;
  /*width: 90% !important;*/
  top: 30% !important;
}

.range-time-inner{
  width: 80%;
  margin-left: 10%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.person{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 500;
  top: 10%;
}

.person-inner{
  width: 90%;
  /*height: 100%;*/
  height: 100vh;
  margin-left: 5%;
  background: #fff;
  border-radius: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.person ui{
  background-color: transparent !important;
}

.person li{
  height: 120px;
}

.person img{
  height: 100%;
}