<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map - data2quiz</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.15/leaflet-providers.min.js"></script>-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link href="map.css" rel="stylesheet">
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
</head>
<body>
<div id="app">
    <my-header></my-header>
    <div class="container container-full">
        <div class="row">
            <div class="col-md-2 side-bar">
                <button class="btn btn-primary" v-on:click="tryQuiz()">Try Quiz!</button>
                <button class="btn btn-danger" v-on:click="giveUp()">Give up</button>
                <!--<ul>-->
                    <!--<li v-for="city in cities">{{ city.tags.name }}</li>-->
                <!--</ul>-->
                <div class="score"><h1>{{ correctCount }}/{{ totalCount }}</h1></div>
            </div>
            <div class="col-md-10">
                <div class='select-answer' v-bind:style="{top:targetPoint.y + 'px', left:targetPoint.x + 'px'}" v-show="selectVisible">
                    <div class="voice text-center">{{ isThinking ? '選んで！': (isCorrect ? '正解！' : '不正解！')}}</div>
                    <select v-model="answer" class='form-control' v-on:change="onAnswer">
                        <option value=''>select!</option>
                        <option v-bind:value="s" v-for="s in selection">{{ s.tags.name }}</option>
                    </select>
                </div>
                <div id="stage"></div>
            </div>
        </div>
        <text class="overpass-query" style="visible:hidden;">
            [out:json];
            node
            [place=city]
            ({{s}},{{w}},{{n}},{{e}});
            out;
        </text>
        <text class="overpass-query2" style="visible:hidden;">
            [out:json];
            node
            [place=city]
            ({{s - (n-s)/2}},{{w - (e-w)/2}},{{n + (n-s)/2}},{{e + (e-w)/2}});
            out;
        </text>
    </div>
</div>

<script>

    ["my-header"].forEach(function(tmpl){
        Vue.component(tmpl, function (resolve, reject) {
            $.get(tmpl + '.html', function(data, status, request){
                var parser = new DOMParser();
                var doc = parser.parseFromString(data, "text/html");
                resolve({
                    template: doc.querySelector("template"),
                    ready: function() {
                        console.log('I am ready!');
                    }
                });
            });
        });
    });


    var getOsmData = function(data, handler){
        $.post( "https://overpass-api.de/api/interpreter", data, handler).fail(function(res){
            console.log(res);
        });
    }

    var app = new Vue({
        el: '#app',
        data: {
            n:0,
            s:0,
            w:0,
            e:0,
            targetPoint : {x:0, y:0},
            cities:[],
            answer : null,
            selection: [],
            target: null,
            selectVisible: false,
            isCorrect: false,
            isThinking: true,
            totalCount: 0,
            correctCount: 0
        },
        methods:{
            onAnswer: function(){
                this.isCorrect = (this.target == this.answer);
                this.isThinking = false;
                if(this.isCorrect){
                    this.correctCount++;
                }
                var self = this;
                setTimeout(function(){
                    self.selectVisible = false;
                }, 2000);
            },
            giveUp: function(){
                this.selectVisible = false;
            },
            tryQuiz: function(){

                $.blockUI({
                    message: "<h2>クイズ作成中・・・</h2>",
                    css: {"border-radius": "5px"}
                });

                var bounds = map.getBounds();
                var nw = bounds.getNorthWest();
                var se = bounds.getSouthEast();
                this.n = nw.lat;
                this.w = nw.lng;
                this.s = se.lat;
                this.e = se.lng;

                var self = this;

                // domへの変更反映は非同期なので、それを待つ
                Vue.nextTick(function () {

                    var data = self.$el.querySelector(".overpass-query").textContent.replace(/\s+/g, '');
                    console.log(data);

                    // 呼び方が悪いのか、レスポンスが返らないため、$httpは使用中止。
//                this.$http.post("http://www.overpass-api.de/api/interpreter", data, function(data, status, request){});

                    getOsmData(data, function(res) {
                        
                        // クエリパラメータで経緯度で範囲を指定しているが、おそらく細かい小数部分が考慮されないため、
                        // 微妙に域外の地点も含んだレスポンスが返ってくる。よって手動での絞り込みが必要。
                        self.cities = res.elements.filter(function(d){
                            return self.s < d.lat && self.n > d.lat && self.w < d.lon && self.e > d.lon;
                        });
                        var ids = self.cities.map(function(d){return d.id;});

                        if(self.cities.length > 0){
                            var target = self.target = self.cities.shift();
                            var point = map.latLngToContainerPoint(new L.LatLng(target.lat, target.lon));
                            self.targetPoint = point;

//                        var m = L.marker([target.lat, target.lon], {
//                            icon: L.divIcon({
//                                className: "select-answer-holder",
//                                html: self.$el.querySelector(".tmpl-select-answer").innerHTML
//                            })
//                        });
//                        m.addTo(map);
                            var data2 = self.$el.querySelector(".overpass-query2").textContent.replace(/\s+/g, '');
                            getOsmData(data2, function( res) {
                                var tmp = res.elements.filter(function(d){
                                    return ids.indexOf(d.id) < 0
                                });
                                tmp = _.sample(tmp, 5);
                                tmp.push(target);
                                self.selection = _.shuffle(tmp);
                            });

                            self.totalCount++;

                            self.isThinking = true;
                            self.selectVisible = true;
                        }
                        $.unblockUI();
                    });
                });
            }
        }
    });
    var map = new L.Map("stage").setView([35.678707, 139.739143], 12);
//    var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution : '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    tileLayer.addTo(map);

    // add layers
    var baseLayers = {
        "OpenStreetMap": tileLayer
    };

    L.control.layers(baseLayers).addTo(map);
    L.control.scale().addTo(map);

    // ユーザがヒントを得ようとして地図を動かした場合は、選択ボックスも追随しないと、正解が見えてしまう
    map.on("move", function(){
        if(app.target){
            var point = map.latLngToContainerPoint(new L.LatLng(app.target.lat, app.target.lon));
            app.targetPoint = point;
        }
    });

   
</script>
</body>
</html>