<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map - data2quiz</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.15/leaflet-providers.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.23/HTMLImports.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <link rel="import" href="header.html">
    <style>
        body{
            padding-top: 51px;
        }
        html,body,#app,.container,.row,.col-md-10{
            height: 100%;
        }
        #stage{
            width:100%;
            height:100%;
        }
        .container-full {
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
        .select-answer{
            position: absolute;
            z-index: 500;
            width: 115px !important;
            margin-top: -5px !important;
            margin-left: -47px !important;
        }
        .voice{
            position: absolute;
            top: -40px;
            width: 100px;
            height: 30px;
            padding-top: 5px;
            background: lightyellow;
            border-radius: 5px;
        }
        .voice:after {
            content: '';
            position: absolute;
            border-top: 10px solid lightyellow;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            bottom: -10px;
            left: 50%;
        }
    </style>
</head>
<body>
<div id="header"></div>
<div id="app" class="container container-full">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" v-on:click="tryQuiz()">Try Quiz!</button>
            <button class="btn btn-danger" v-on:click="giveUp()">Give up</button>
            <ul>
                <li v-for="city in cities">{{ city.tags.name }}</li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class='select-answer' v-bind:style="{top:targetPoint.y + 'px', left:targetPoint.x + 'px'}" v-show="selectVisible">
                <div class="voice text-center">{{ isThinking ? '選んで！': (isCorrect ? '正解！' : '不正解！')}}</div>
                <select v-model="answer" class='form-control' v-on:change="onAnswer">
                    <option value=''>select!</option>
                    <option v-bind:value="s" v-for="s in selection">{{ s.tags.name }}</option>
                </select>
            </div>
            <div id="stage"></div>
        </div>
    </div>
    <text class="overpass-query" style="visible:hidden;">
        [out:json];
        node
        [place=city]
        ({{s}},{{w}},{{n}},{{e}});
        out;
    </text>
    <text class="overpass-query2" style="visible:hidden;">
        [out:json];
        node
        [place=city]
        ({{s - (n-s)/2}},{{w - (e-w)/2}},{{n + (n-s)/2}},{{e + (e-w)/2}});
        out;
    </text>
</div>

<script>

//    var _header = document.querySelector('link[rel="import"]').import.querySelector("#_header");
//    document.getElementsByTagName("body")[0].appendChild(_header);
//
//    var header = new Vue({
//        el: "#header",
//        template: "#_header"
//    });

    var app = new Vue({
        el: '#app',
        data: {
            n:0,
            s:0,
            w:0,
            e:0,
            targetPoint : {x:0, y:0},
            cities:[],
            answer : null,
            selection: [],
            target: null,
            selectVisible: true,
            isCorrect: false,
            isThinking: true
        },
        methods:{
            onAnswer: function(){
                this.isCorrect = this.target == this.answer;
                this.isThinking = false;
                if(this.isCorrect){
                    var self = this;
                    setTimeout(function(){
                        self.selectVisible = false;
                    }, 1000);
                }
            },
            giveUp: function(){
                this.selectVisible = false;
            },
            tryQuiz: function(){

                this.isThinking = true;
                this.selectVisible = true;

                var bounds = map.getBounds();
                var nw = bounds.getNorthWest();
                var se = bounds.getSouthEast();
                this.n = nw.lat;
                this.w = nw.lng;
                this.s = se.lat;
                this.e = se.lng;

                var self = this;

                // domへの変更反映は非同期なので、それを待つ
                Vue.nextTick(function () {

                    var data = self.$el.querySelector(".overpass-query").textContent.replace(/\s+/g, '');
                    console.log(data);

                    // 呼び方が悪いのか、レスポンスが返らないため、$httpは使用中止。
//                this.$http.post("http://www.overpass-api.de/api/interpreter", data, function(data, status, request){});

                    var successHandler = function( res) {
                        // クエリパラメータで経緯度で範囲を指定しているが、おそらく細かい小数部分が考慮されないため、
                        // 微妙に域外の地点も含んだレスポンスが返ってくる。よって手動での絞り込みが必要。
                        self.cities = res.elements.filter(function(d){
                            return self.s < d.lat && self.n > d.lat && self.w < d.lon && self.e > d.lon;
                        });
                        var ids = self.cities.map(function(d){return d.id;});

                        if(self.cities.length > 0){
                            var target = self.target = self.cities.shift();
                            var point = map.latLngToContainerPoint(new L.LatLng(target.lat, target.lon));
                            self.targetPoint = point;

//                        var m = L.marker([target.lat, target.lon], {
//                            icon: L.divIcon({
//                                className: "select-answer-holder",
//                                html: self.$el.querySelector(".tmpl-select-answer").innerHTML
//                            })
//                        });
//                        m.addTo(map);
                            var data2 = self.$el.querySelector(".overpass-query2").textContent.replace(/\s+/g, '');
                            var sh2 = function( res) {
                                var tmp = res.elements.filter(function(d){
                                    return ids.indexOf(d.id) < 0
                                });
                                tmp = _.sample(tmp, 5);
                                tmp.push(target);
                                self.selection = _.shuffle(tmp);
                            }
                            $.post( "https://www.overpass-api.de/api/interpreter", data2, sh2);
                        }
                    }
                    $.post( "https://www.overpass-api.de/api/interpreter", data, successHandler);
                });
            }
        }
    });
    var map = new L.Map("stage").setView([35.678707, 139.739143], 12);
//    var tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    var tileLayer = L.tileLayer('http//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution : '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    //    L.tileLayer.provider('OpenStreetMap.BlackAndWhite').addTo(map);
    //    var tileLayer = L.tileLayer.provider('Stamen.TonerLite');
    tileLayer.addTo(map);

    // add layers
    var baseLayers = {
        "OpenStreetMap": tileLayer
    };

    L.control.layers(baseLayers).addTo(map);
    L.control.scale().addTo(map);

    // ユーザがヒントを得ようとして地図を動かした場合は、選択ボックスも追随しないと、正解が見えてしまう
    map.on("move", function(){
        if(app.target){
            var point = map.latLngToContainerPoint(new L.LatLng(app.target.lat, app.target.lon));
            app.targetPoint = point;
        }
    });

   
</script>
</body>
</html>